body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

h1 {
    color: #3498db;
}

form {
    margin-bottom: 20px;
}

input, select {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d567c;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #444;
}

th {
    background-color: #333;
}

.delete-btn {
    color: red;
    text-decoration: none;
    font-weight: bold;
}


.logo {
    display: block;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

